server:
  port: 8081
spring:
  datasource:
    url: jdbc:h2:mem:user;DB_CLOSE_DELAY=-1;MODE=MySQL
    driver-class-name: org.h2.Driver
    username: sa
    password: ''
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
  redis:
    host: localhost
    port: 6379
  flyway:
    enabled: false
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:8080/oauth2/jwks
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.data.redis.RedisAutoConfiguration
      - org.springframework.boot.autoconfigure.data.redis.RedisRepositoriesAutoConfiguration
management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    redis:
      enabled: false
eureka:
  client:
    enabled: false
skillrat:
  wallet:
    base-url: http://localhost:8084
