server:
  port: 8080
spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:mysql://mysql:3306/skillrat_auth?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  redis:
    host: redis
    port: 6379
skillrat:
  auth:
    token-store: redis # redis|jdbc
  gateway:
    check-token-cache-ttl-seconds: 30
management:
  endpoints:
    web:
      exposure:
        include: "*"
