server:
  port: 8080

spring:
  application:
    name: auth-service

  datasource:
    url: jdbc:mysql://localhost:3306/skillrat_auth?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

skillrat:
  auth:
    token-store: jdbc # redis|jdbc
  gateway:
    check-token-cache-ttl-seconds: 300

management:
  health:
    redis:
      enabled: false
  endpoints:
    web:
      exposure:
        include: "*"
