server:
  port: 8888
spring:
  application:
    name: config-service
  cloud:
    config:
      server:
        bootstrap: true
        git:
          uri: https://example.com/skillrat-config-repo.git
          clone-on-start: false
management:
  endpoints:
    web:
      exposure:
        include: "*"
