server:
  port: 8082
spring:
  application:
    name: organisation-service
  datasource:
    url: jdbc:mysql://mysql:3306/skillrat_org?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
  redis:
    host: redis
    port: 6379
management:
  endpoints:
    web:
      exposure:
        include: "*"
