server:
  port: 8087
spring:
  application:
    name: project-service
  datasource:
    url: jdbc:mysql://localhost:3306/skillrat_project?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: skillrat
    password: skillrat
  jpa:
    hibernate:
      ddl-auto: update
  flyway:
    enabled: false
    baseline-on-migrate: true
    baseline-version: 1
    locations: classpath:db/migration
  security:
    oauth2:
      resourceserver:
        opaque-token:
          introspection-uri: http://auth-service:8080/oauth/check_token
          client-id: gateway
          client-secret: gateway-secret
management:
  endpoints:
    web:
      exposure:
        include: "*"
