server:
  port: 8082
spring:
  application:
    name: organisation-service
  datasource:
    url: jdbc:mysql://localhost:3306/skillrat_org?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: skillrat
    password: skillrat
  jpa:
    hibernate:
      ddl-auto: none
  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 1
    locations: classpath:db/migration
  redis:
    host: localhost
    port: 6379
management:
  endpoints:
    web:
      exposure:
        include: "*"
