server:
  port: 8084
spring:
  application:
    name: wallet-service
  datasource:
    url: jdbc:mysql://mysql:3306/skillrat_wallet?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
  redis:
    host: redis
    port: 6379
management:
  endpoints:
    web:
      exposure:
        include: "*"
